nav {
  background: #222;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 36px;
  font-size: 18px;
}

nav a2 {
  position: fixed;
  color: white;
  text-decoration: none;
  font-size: 18px;
  right: 10px;
  text-align: right;
}

.hero {
  padding: 0px;
  text-align: center;
  background: #f4f4f4;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  color: #555;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  background:white;
  width: fit-content;
  height: 40px;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
  padding: 0;
  gap: 0;
  font-size: 0px;
  justify-content: center;
}

.button {
  font-size: 26px;
  font-weight: bold;
  margin-right: 17px;
  margin-left: 17px;
  background: white;
  border:0;
  outline:0;
  height: 40px;
}

.button:hover{
  opacity: 0.6;
  background: rgb(236, 236, 236);
}

.button a{
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 7px;
  bottom: -130px;
  width: 100%;
  position: fixed;
  transition: bottom 0.5s;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#footer a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 10px;
}

#footer a:hover {
  text-decoration: underline;
}

.footer-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  z-index: 1000;
}

.footer-btn:hover {
  background-color: #0056b3;
}

.TraduireBox{
  width: 700px;
  height: 400px;
  background-color: rgb(225, 225, 225);
  border: 0px;
  border-radius: 40px;
  position: relative;
  margin: 20px auto;
  z-index: 0px;
}

#ausgabe{
  position: flex;
  font-size: 30px; 
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  z-index: 11px;
}

#ausgabe2{
  position: flex;
  font-size: 30px; 
  text-align: center;
  padding-top: 35px;
  padding-bottom: 30px;
  z-index: 11px;
}

.input {
  font-size: 20px;
  display:flex;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  width: 500px;
  margin: auto;
  outline:none;
  text-decoration: none;
}

.input:focus {
  border: 3px solid rgba(255, 30, 0, 0.87);
}

#Reaktion{
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
  color: green;
}

#FehlerBox{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color:rgb(236, 236, 236);
  background-color: rgb(220, 105, 149); 
  width: 700px; 
  height: 400px; 
  border-radius: 40px;
  z-index: 10px;
  font-size: 30px;
  padding: 45px;
  box-sizing: border-box;
}

#DeineAntwort{
  color: white;
  font-size: 20px;
}

#Lösung{
  color: white;
  font-size: 20px;
}

.load-container1 {
    width: 90px;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    border-radius: 12px;
    left: calc(50% + 380px);  
    top: 219px;  
}

.load-fill1 {
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 0%; 
    background: red;
    transition: height 0.3s ease
}

.load-container2 {
    width: 90px;
    height: 400px;
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    border-radius: 12px;
    right: calc(50% + 380px);  
    top: 219px;  
}

.load-fill2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: green;
    transition: height 0.3s ease;
}

#AnzahlR{
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 190px;
  display:flex;
  place-items: center;
}

#AnzahlF{
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 190px;
  margin: 0 auto;
  padding: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr); 
  grid-template-rows: repeat(7, 60px); 
  gap: 5px;
  background-color: #cdc9c9;               
  padding: 10px;   
  margin: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; 
  background-color: whitesmoke;
  overflow: hidden;
  
}

.verb-input {
  width: 90%;  
  height: 90%;
  border: none;
  padding: 0 5px; 
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  background-color: transparent; 
  text-align: center; 
}

.verb-input:focus {
  background-color: #e8f0fe;
}

/* Wenn die Antwort richtig ist */
.correct-text {
  color: #28a745 !important; /* Grün */
  font-weight: bold;
  background-color: transparent !important;
}

/* Wenn die Antwort falsch ist */
.wrong-border {
  border: 2px solid #dc3545 !important; /* Roter Rahmen */
  transition: border 0.2s;
  box-sizing: border-box;
  outline: none;
}

#skip-btn {
  position: fixed;
  right: 20px;
  top: 170px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  z-index: 1000;
}

#skip-btn:hover {
  background-color: #0056b3;
}


  







